<div class="row">
    <div class="col-sm-6">
        <form [formGroup]="formulario" (ngSubmit)="guardar()">
            <div class="mb-3">
                <label for="link" class="form-label">Link Midi</label>
                <input formControlName="url" id='link' class="form-control" type="text" placeholder="URL"
                    aria-label="default input example">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input formControlName="name" id='name' class="form-control" type="text" placeholder="Name"
                    aria-label="default input example">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input formControlName="desc" id='desc' class="form-control" type="text" placeholder="Desc"
                    aria-label="default input example">
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Year of Creation</label>
                <input formControlName="year" id='year' class="form-control" type="text" placeholder="Year"
                    aria-label="default input example">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <iframe height="452" src="https://www.youtube.com/embed/NfPcqqoUqqo" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>