<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://cdn.discordapp.com/attachments/334273453341278208/935199562476437504/adsadasd.png" alt="" width="30"
        height="24" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="#">Oscar.com </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='Gallery'>Art Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='midi'>Midi Gallery</a>
            </li>
        </ul>
        
    </div>
</nav>
